In [1]:

#DAY-03


# LIST - collection of data types
# it is orderd,mutable,heterogenous
# we can use diffrent data types like intiger,boolean,float ect.......

list1=["chahchu","richu",134,23,4.5,"True","False"]


#slicing

#positive indexing - it start with 0
#negative indexing - it is a reverse order and start with -1

print(list1[-5:-1:3]) #(it print towards right side)

#end -1 (-1-1=-2)
print(list1[-2:])

#if the step is negative (start,end+1,step)

print(list1[::-1])#(it print towards left)

[134, 'True']
['True', 'False']
['False', 'True', 4.5, 23, 134, 'richu', 'chahchu']

In [2]:
#list methods

# append,copy,sort,insert,len,count,remove,extend,clear,pop,reverse,count,index

# append-add the value at the end of the list
# insert- you can add values at the specific position
# extend- it can ensure to combine the list with another
# pop-remove the value based on index
# remove- you can mention the element to remove 
# copy - you can copy the list
# reverse - it will reverse the list of elements
# sort - it will arrange the elements by asec,desc values
# clear-clear the data 
# count- to count the repeating data
# index- its used for slicing

In [3]:
list1=["chahchu","richu",134,23,4.5,"True","False"]
list2=["True1","False1"]


list1.append("dingu")
list1.insert(1,"mingu")
list1.extend(list2)
list1.pop(1)
list1.remove("False1")
print(list1)
list3=list1.copy()
list1.reverse()

listsrt=[1,6,7,5,2,3,4]
listsrt.sort()


listclr=[3,4,5,6,7,84,7]
listclr.clear()




print(list3)
print(list1)
print(listsrt)
print(listclr)

['chahchu', 'richu', 134, 23, 4.5, 'True', 'False', 'dingu', 'True1']
['chahchu', 'richu', 134, 23, 4.5, 'True', 'False', 'dingu', 'True1']
['True1', 'dingu', 'False', 'True', 4.5, 23, 134, 'richu', 'chahchu']
[1, 2, 3, 4, 5, 6, 7]
[]

In [ ]:
# list creation using for loop
# it is used to create a list with user input

list2=[]
n=int(input("enter the limit:"))
for i in range(n):
    num=input("enter the value:")
    list2.append(num)
print(list2)

['10', '20', '30', '40', '50']

In [5]:
#tuple-()
#orders and immutable
#only two operations are applicable (count,index)


tuple1=("chahchu","richu",134,23,4.5,23,"True",23,"False")
tuple2=("True1","False1")

print(tuple1)
print(tuple1[1:5]) #slicing

print("count=", tuple1.count(23))

print("index=", tuple1.index(134))

('chahchu', 'richu', 134, 23, 4.5, 23, 'True', 23, 'False')
('richu', 134, 23, 4.5)
count= 3
index= 2

In [6]:
#set-{}
# it doesnt allows the duplicates
# it doest allow slicing
# it doesnt allow indexing
# unorderd

# set methods

# add,update,remove,discard,remove,pop
# operations- union,intersection,diffrence


#  set_1={}- empty set


set1={1,222,3,3,4,222,44,5,6,44,}
print(set1)

set1.add(10) # also sorting occured
print(set1)
set1.remove(222)
print(set1)
set1.update([11,22])#add and update are same
print(set1)
set1.discard(22)
print(set1)

#----------------------------------------------------------------------------------------------------------------------------------------------------------

set1={1,222,3,3,4,222,44,5,6,44,}

set2={3,4,5,4,333,55,666,333,55}

print(set1.difference(set2))

print(set1.union(set2))

print(set1.intersection(set2))

{1, 3, 4, 5, 6, 44, 222}
{1, 3, 4, 5, 6, 10, 44, 222}
{1, 3, 4, 5, 6, 10, 44}
{1, 3, 4, 5, 6, 10, 11, 22, 44}
{1, 3, 4, 5, 6, 10, 11, 44}
{1, 44, 222, 6}
{1, 3, 4, 5, 6, 44, 333, 55, 666, 222}
{3, 4, 5}

In [7]:
#find the unique values

def unique_item(text):
    words=text.lower().split()
    unique=set(words)#set-it is used for converting a list in to set
    return len(unique)
unique_item("Raju is a good boy but sometimes raju is a bad boy")

8

In [8]:
#remove duplicates from a list


def remove_dupli(num):
    result=[]
    for i in num:
        if i not in result:
            result.append(i)
    return result
list1=[1,2,1,1,1,3,4,5,6,4,5,]
remove_dupli(list1)

[1, 2, 3, 4, 5, 6]

In [9]:
#print words longer than 3 letter from a list

list1=["deepa","kadhir","joe","sri","priya"]
for i in list1:
    if(len(i)>3):
        print(i)

deepa
kadhir
priya